<% provide(:title, "Help") %>
<h1>Help</h1>
<p>The player flips two cards of the deck to see their faces — if they are of the same number and color (e.g., 9♠ and 9♣, or Q♥ and Q♦), then the player earnes a point and the cards are removed from play. If the cards are not of the same number and color, they are turned back facedown and a miss is recorded. The game continues until all the pairs have been picked.</p>
